
@import url('../../../colors.css');

.loading-container ,
.error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
}



.logout-button {
    margin-left: auto;
    width: 100px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    font-size: 0.9rem;
    padding: 0.25rem 0.75rem;
    border-radius: 500px;
    outline: 1px solid var(--light-blue);
    color: var(--light-blue);
}



.logout-button:hover {
    cursor: pointer;
    background-color: var(--light-blue);
    color: white;
}