@import url('../../colors.css');

.error-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem ;
}

.link {
    font-size: 0.9rem;
    border-radius: 500px;
    padding: 0.5rem 1rem;
    outline: 1px solid var(--light-blue);
    color: var(--light-blue);
}

.link:hover{
    background-color: var(--light-blue);
    color: white;
}