@import url('../../colors.css');


.loading-container ,
.error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
}

.toggle-registration-container {
    padding-top: 2rem;
}

.message {
    padding: 1rem;
    color: var(--light-blue);
}

.toggle-button-container {
    padding: 1rem;
    display: flex;
}

.toggle-button{
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    outline: 1px solid var(--light-blue);
    color: var(--light-blue);
    border-radius: 500px;
}

.toggle-button:hover {
    color: white;
    background-color: var(--light-blue);
    cursor: pointer;
}
