
.layout {
    display: flex;
}

.right-component {
    flex-grow: 1;
}


.greeting-message {
    display: flex;
    background-color: white;
    padding: 4rem 5rem;
}

.greeting-message h1 {
    font-weight: normal;
}

.main-content {
    /* max-width: 1200px; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}